
#game-container {
    background: #36b87d;
    padding: 20px;
    text-align: center;
    display: flex;
}


.box {
    background: #371212;
    color: #000;
    padding: 10px;
    text-align: center;
}